.logo {
    -webkit-text-size-adjust: 100%;
    line-height: 20px;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    align-self: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.logo_highlight {
    -webkit-text-size-adjust: 100%;
    line-height: 20px;
    font-family: Montserrat, sans-serif;
    -webkit-box-direction: normal;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    box-sizing: border-box;
    display: inline-block;
    padding: 3px 4px 1px 6px;
    border-radius: 2px;
    background-color: #fff;
    color: #3681c0;
}
