.wrapper {
    -webkit-text-size-adjust: 100%;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
    background: #dddddd;
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    display: block;
    height: 64px;
    background-color: #3681c0;
    background-image: radial-gradient(
        circle farthest-corner at 50% 50%,
        #3681c0,
        #2e4a85
    );
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: auto;
}

.nav {
    display: flex;
    padding-right: 60px;
    justify-content: space-around;
    align-items: flex-start;
    flex: 0 auto;
}